@model Activities
<!DOCTYPE html>
<meta charset="utf-8" />

<head>
    <title>My Activities</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<h1>Edit Activity</h1>

<form asp-action="Add" class="m-2" method="post">
    <div id="error-message-div" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="id"> ID: </label>
        <input asp-for="id" class="form-control" placeholder="Enter ID" />
    </div>
    <div class="form-group">
        <label asp-for="dogid"> Dog ID: </label>
        <input asp-for="dogid" class="form-control" placeholder="Enter Dog ID" />
    </div>
    <div class="form-group">
        <label asp-for="locationid"> Location ID: </label>
        <input asp-for="locationid" class="form-control" placeholder="Enter Location ID" />
    </div>
    <div class="form-group">
        <label asp-for="date"> Date: </label>
        <input asp-for="date" class="form-control" placeholder="Enter The Date" />
    </div>
    <div class="form-group">
        <label asp-for="startTime"> Start Time: </label>
        <input asp-for="startTime" class="form-control" placeholder="Start Time" />
    </div>
    <div class="form-group">
        <label asp-for="endTime"> End Time: </label>
        <input asp-for="endTime" class="form-control" placeholder="End Time" />
    </div>
    <div class="form-group">
        <label asp-for="duration"> Duration: </label>
        <input asp-for="duration" class="form-control" placeholder="Duration" />
    </div>
    <div class="form-group">
        <label asp-for="weather"> Weather: </label>
        <input asp-for="weather" class="form-control" placeholder="Weather" />
    </div>
    <div class="form-group">
        <label asp-for="distance"> Distance: </label>
        <input asp-for="distance" class="form-control" placeholder="Distance" />
    </div>
    <div class="form-group">
        <label asp-for="notes"> Notes: </label>
        <input asp-for="notes" class="form-control" placeholder="Notes" />
    </div>

    <input type="submit" class="btn btn-primary" value="Update Activity" />

</form>