<!DOCTYPE html>

<meta charset="utf-8">

<head>
    <title>Paw Tracks</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<!-- Top Navigation -->
<header>
    <nav class="navigation">
        <ul>
            <li><a asp-action="Login">Login</a></li>
            <li><a asp-action="SignUp">Sign Up</a></li>
            <li><a asp-action="PassReset">Reset Password</a></li>
        </ul>
    </nav>
</header>

<body>
    <!-- Banner -->
    <center>
        <div id="banner">
            <div class="content">
                <h1>Paw Tracks</h1>
            </div>
        </div>
        <p>
            Track activities with your dog, make goals, and get them done!<br>
            <a asp-action="Home">Home</a> |
            <a asp-action="Login">Login</a> |
            <a asp-action="MyAccount">My Account</a> |
            <a asp-action="SignUp">Sign Up</a><br>
        </p>
    </center>
    </font>
</body>

