@model Project_Step_8_PawTracks.Models.Registration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sign Up </title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">
        Sign Up
    </h5>

    <!--Sign Up Form-->
    <form asp-action="SignUp" class="m-2" method="post">
        <div id="error-message-div" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Username"> Username: </label>
            <input asp-for="Username" class="form-control" placeholder="Create a Username" />
        </div>
        <div class="form-group">
            <label asp-for="Email"> Email: </label>
            <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password"> Password: </label>
            <input asp-for="Password" class="form-control" placeholder="Create a Password" />
        </div>
       
        <button type="submit" class="btn btn-primary"> Create Account </button>
    </form>
</body>
</html>